
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px 30px 30px ;
}
.header-div {
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*border: 3px solid gold;*/
}
.header-div button {
    width: 100px;
    height: 50px;
    background:transparent;
    border: 3px solid #333;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #333;
    font-weight: 600;
    margin-right: 40px;
    transition: 0.5s;
}

.header-div button:hover{
    background: #333;
    color: #fff;
}
.ten-kh{
    padding-top: 100px;
    padding-bottom: 20px;
}
.thong-tin-khach-hang{
    /*border: 3px solid deepskyblue;*/
    background: white;
    border-radius:5px ;
    padding-top: 20px;
    width: 70%;
}

h4{
    display: block;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 2px solid lightgray;
    font-size: 20px;
    font-weight: bold;
}

.key{
    width: 180px;
    padding: 10px;
}
.value{
    padding: 10px;
}
 #total{
    color: #1CB5E0;
}
.thong-tin-don-hang{
    background: white;
    border-radius:5px ;
    padding-top: 20px;
    margin-top: 20px;
    border: 2px solid black;
}
.thong-tin-don-hang img{
    width: 55px;
    height: 60px;
}
.thong-tin-don-hang table td {
    width: 200px;
}
.thong-tin-don-hang table #product {
    color: dodgerblue;
}
.thong-tin-don-hang table #product:hover{
    cursor: pointer;
    text-decoration: underline;
}
.table-head{
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}
.product-table{
     border-bottom: 2px solid lightgray;
}

/*Cập nhật mới*/
.image-input {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 80%; /* Tạo tỷ lệ 1:1 */
    background-color: rgba(128, 128, 128, 0.5); /* Màu xám mờ */
    border-radius: 8px; /* Bo góc */
    overflow: hidden;
    cursor: pointer; /* Thay đổi con trỏ khi hover */
}

.image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ nguyên tỷ lệ ảnh */
    border-radius: 8px; /* Bo góc cho ảnh preview */
}
label{
    width: 150px;
}
.form-group .custom-label{
    font-weight: 700;
    color: #344767;
}