.container {
    max-width: 600px;
    margin-top: 100px;
    min-width: 400px;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.two-button{
    text-align: center;
}
.custom-checkbox .custom-control-input#finished-no:checked ~ .custom-control-label::before {
    border-color: #dc3545;
    background-color: #dc3545;
}