{% extends 'Base.html' %}
{% block title %}Chi tiết khách hàng{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/detail-customer.css">
{% endblock %}

{% block content %}
    {% for user in detail %}
    <div class="wrapper">
        <div class="header-div">
            <h2 class="ten-kh"> {{user.ten_khach_hang}}</h2>
            <button class="btnUpdate" onclick="window.location.href='/khach-hang/update/{{user.id}}'">Update</button>
            <button class="btnDelete" onclick="delete_customer('{{user.id}}')">Delete</button>
        </div>

        <div class="thong-tin-khach-hang">
            <h4>Thông tin cá nhân</h4>
            <div class="create container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="custom-label" for="image-preview">Ảnh </label>
                            <div class="image-input" id="image-input">
                                <img id="image-preview" class="image-preview" alt="Ảnh đại diện">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="custom-label">Giới tính: </label>
                            <span>{{user.gender}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label" >Số điện thoại: </label>
                            <span >{{user.so_dien_thoai}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">Khu vực: </label>
                            <span>{{user.khu_vuc}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">Địa chỉ: </label>
                            <span>{{user.dia_chi}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label" >Tình trạng da: </label>
                            <span>{{user.type_name}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="custom-label" >Mã khách hàng: </label>
                            <span>{{user.id}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">Email: </label>
                            <span>{{user.email}}</span>
                        </div>

                        <div class="form-group">
                            <label class="custom-label">Nhóm khách hàng: </label>
                            <span>{{user.nhom_khach_hang}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label" >Ngày sinh: </label>
                            <span>{{user.ngay_sinh}}</span>
                        </div>
                        <div class="form-group">
                            <label class="custom-label" >Khả năng chi trả: </label>
                            <span>{{user.payment_ability}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>Lưu ý: Những sản phẩm không còn tồn tại trong hệ thống sẽ không được liệt kê</p>
        {% for order in orders %} <!-- Call the list of order -->
        <div class="thong-tin-don-hang">
            {% set count_dh = loop.index %}
            <h4>{{count_dh}}. Đơn hàng {{order.id}}</h4>
            <table>
                <tr>
                    <td class="key"><strong>Ngày bán:</strong></td>
                    <td class="value">{{order.finish_date}}</td>
                </tr>
                <tr>
                    <td class="key"><strong>Nguồn bán:</strong></td>
                    <td class="value">{{order.selling_source}}</td>
                </tr>
            </table>
            <table class="table-head">
                <tr>
                    <td class="key"><strong>Tên sản phẩm</strong></td>
                    <td class="key"><strong>Giá tiền</strong></td>
                    <td class="key"><strong>Ảnh minh họa</strong></td>
                    <td class="key"><strong>Khối lượng</strong></td>
                    <td class="key"><strong>Số lượng</strong></td>
                </tr>
            </table>
            <table class="product-table">
                {% for product in product_by_order[order.id] %} <!-- Call the list of product -->
                {% set count = loop.index %}
                <tr>
                    <td class="key" id="product" onclick="redirectToProduct('{{product.anh}}')"><strong>{{count}}. {{ product.ten_san_pham}}</strong></td>
                    {% for amount in amount_product_per_order[order.id][product.id] %} <!-- Call the price, weight and amount of product -->
                        <td class="value">{{"{:,.0f}".format(product.listed_price)}} VND</td>
                        <td class="value"><img src="{{product.anh}}"></td>
                        <td class="value">{{product.khoi_luong}}</td>
                        <td class="value">{{amount.so_luong}} sản phẩm</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <table>
                <tr>
                    <td class="key"><strong>Chiết khấu:</strong></td>
                    <td class="value">-- %</td>
                </tr>
                <tr>
                    <td class="key"><strong>Tổng tiền:</strong></td>
                    <td class="value" id="total">{{"{:,.0f}".format(order.total_price)}} VND</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    {% endfor %}
<script src="../../static/js/detail-customer.js"></script>
{% endblock %}
