{% extends 'Base.html' %}
{% block title %}Spa Treatment Card{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/spa-create-card.css">

{% endblock %}
{% block content %}
<div class="main">
   <div class="card">
        <div class="background-opacity"></div>
        <div class="card-content">
            <h2>Thẻ Trị Liệu</h2>
            <form method="post" action="{{url_for('api.create_card')}}">
                <div class="form-group">
                    <label for="customer_id">Khách hàng</label>
                    <input placeholder="Click để chọn khách hàng" type="text" class="form-control" id="customer_id" name="customer_id" required autocomplete="off" oninput="getSuggestions(this.value)" onfocus="showAllSuggestions(this.value)">
                    <div id="suggestions" class="list-group" style="display: none;"></div>
                </div>
                <div class="form-group">
                    <label for="card-id">Mã thẻ</label>
                    <input placeholder="Tự động tạo nếu để trống" type="text" id="card-id" name="card_id">
                </div>
                <div id="treatments-container">
                    <div class="treatment-container" id="treatment-container-1">
                        <div class="form-group">
                            <label for="treatment-1">Liệu trình</label>
                            <select id="treatment-1" name="treatment_id_1" required>
                                <!-- Options will be dynamically generated -->
                                <option value="" disabled selected hidden>Chọn liệu trình...</option>
                                {% for t in treatments %}
                                    <option value="{{t.id}}">{{ t.name }}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="total-time-1">Số buổi</label>
                            <input type="number" id="total-time-1" name="total_time_1" required>
                        </div>
                        <div class="form-group">
                            <label for="time-used-1">Số buổi đã sử dụng</label>
                            <input type="number" id="time-used-1" name="time_used_1" value="0">
                        </div>
                        <div class="form-group">
                            <label for="price-1">Giá tiền (VNĐ)</label>
                            <input type="number" id="price-1" name="price_1" oninput="updateTotalPrice()" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="button" style="margin-top: 0px" onclick="addTreatment()">
                    <i class="fas fa-plus"></i>
                </button>

                <div class="form-group">
                    <label for="total-price">Tổng tiền (VNĐ)</label>
                    <input type="number" id="total-price" name="total_price" value="0" readonly>
                </div>
                <div class="form-group">
                    <label for="paid">Đã thanh toán</label>
                    <input type="number" id="paid" name="paid" value="0" oninput="calculateDebt()" required>
                </div>
                <div class="form-group">
                    <label for="debt">Dư nợ</label>
                    <input type="number" id="debt" name="debt" readonly>
                </div>
                <div id="staffs_container">
                    <div class="staff_container" id="staff_container_1">
                        <div class="form-group" style="width: 100%; justify-content: normal">
                            <div class="form-group">
                                <label for="staff_1" style="margin-bottom: 0">Nhân viên tạo thẻ</label>
                                <select id="staff_1" name="staff_1" required>
                                    <option value="" disabled hidden selected>Chọn nhân viên...</option>
                                    {% for staff in staffs %}
                                        <option value="{{staff.id}}">{{ staff.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="width: 40%; padding-left: 50px">
                                <label for="divide_money_1" style="width: 30%; margin-bottom: 0">Chia tiền</label>
                                <input id="divide_money_1" name="divide_money_1" type="text" placeholder="VD: 0.4 " oninput="validateDecimal(this)" >
                                <button class="btn btn-success" type="button" style="margin-top: 0px; margin-left: 20px; " onclick="addStaff()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note">Ghi chú</label>
                    <textarea type="text" id="note" name="note"></textarea>
                </div>

                <div class="grid-container">
                    <!-- Grid items for treatments done -->
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" onclick="getCustomerId()">Tạo thẻ</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="/static/js/booking.js"></script>
    <script src="/static/js/create-task.js"></script>
    <script>
        let staffCount = 1;
        function addStaff(){
            staffCount++;
            const staffsContainer = document.getElementById('staffs_container');
            const newStaff = document.createElement('div');
            newStaff.classList.add('staff_container')
            newStaff.id = `staff_container_${staffCount}`;
            newStaff.innerHTML = `
                <div class="form-group" style="justify-content: flex-start; ">
                    <button class="close-btn" onclick="removeForm(this)">&times;</button>
                </div>
                <div class="form-group" style="width: 100%; justify-content: normal">
                    <div class="form-group">
                        <label for="staff_${staffCount}" style="margin-bottom: 0">Nhân viên tạo thẻ</label>
                        <select id="staff_${staffCount}" name="staff_${staffCount}" required>
                            <option value="" disabled hidden selected>Chọn nhân viên...</option>
                            {% for staff in staffs %}
                                <option value="{{staff.id}}">{{ staff.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="width: 40%; padding-left: 50px">
                        <label for="divide_money_${staffCount}" style="width: 30%; margin-bottom: 0">Chia tiền</label>
                        <input id="divide_money_${staffCount}" name="divide_money_${staffCount}" type="text" placeholder="VD: 0.4 " oninput="validateDecimal(this)">
                        <button class="btn btn-success btn-add-staff" type="button" style="margin-top: 0px; margin-left: 20px;" onclick="">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            `;
            staffsContainer.insertBefore(newStaff, staffsContainer.lastElementChild.nextSibling);
        }

        let treatmentCount = 1;
        function addTreatment() {
            treatmentCount++;
            const treatmentsContainer = document.getElementById('treatments-container');
            const newTreatment = document.createElement('div');
            newTreatment.classList.add('treatment-container');
            newTreatment.id = `treatment-container-${treatmentCount}`;
            newTreatment.innerHTML = `
                <div class="form-group" style="justify-content: flex-end;">
                    <button class="close-btn" onclick="removeForm(this)">&times;</button>
                </div>
                <div class="form-group">
                    <label for="treatment-${treatmentCount}">Liệu trình</label>
                    <select id="treatment-${treatmentCount}" name="treatment_id_${treatmentCount}" required>
                        <option value="" disabled hidden>Chọn liệu trình...</option>
                        {% for t in treatments %}
                            <option value="{{t.id}}">{{ t.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="total-time-${treatmentCount}">Số buổi</label>
                    <input type="number" id="total-time-${treatmentCount}" name="total_time_${treatmentCount}" required>
                </div>
                <div class="form-group">
                    <label for="time-used-${treatmentCount}">Số buổi đã sử dụng</label>
                    <input type="number" id="time-used-${treatmentCount}" name="time_used_${treatmentCount}" value="0">
                </div>
                <div class="form-group">
                    <label for="price-${treatmentCount}">Giá tiền (VNĐ)</label>
                    <input type="number" id="price-${treatmentCount}" name="price_${treatmentCount}" oninput="updateTotalPrice()" required>
                </div>
            `;
            treatmentsContainer.insertBefore(newTreatment, treatmentsContainer.lastElementChild.nextSibling);
        }

        function updateTotalPrice() {
            let totalPrice = 0;
            for (let i = 1; i <= treatmentCount; i++) {
                const priceElement = document.getElementById(`price-${i}`);
                if (priceElement) {
                    const price = parseFloat(priceElement.value) || 0;
                    totalPrice += price;
                }
            }
            document.getElementById('total-price').value = totalPrice;
            calculateDebt();
        }
        function calculateDebt() {
            const total_price = parseFloat(document.getElementById('total-price').value);
            const paid = parseFloat(document.getElementById('paid').value);
            var debt = total_price - paid;
            if(debt<0){
                debt = 0
            }
            document.getElementById('debt').value = debt;
        }

        function removeForm(button) {
            const formContainer = button.parentElement.parentElement;
            formContainer.remove();
        }

        // Chỉ cho phép nhập chia tiền là số thập phân
        function validateDecimal(input) {
            input.value = input.value.replace(/[^0-9.]/g, ''); // Chỉ cho phép số và dấu chấm
            if ((input.value.match(/\./g) || []).length > 1) {
                input.value = input.value.slice(0, -1); // Không cho phép nhập hơn một dấu chấm
            }
        }
    </script>
{% endblock %}
