<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trang chủ{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block css %} {% endblock %}

</head>
<body>
    <div class="side-bar" id="side-bar">
        <div class="menuExpand">
            <a class="logo" href='/dash-board'><img class="ListBarText" src="{{ url_for('static', filename='images/LogoLucos.png') }}"></a>
            <button class="btnExpand" id="btnExpand"><i class="fas fa-bars"></i></button>
        </div>
        <hr class="menuDivider">
        <nav class="navigation">
            <div class="dropdown">
                <button class="btnView" id="show-customer">
                    <i class="fas fa-user bar-icon"></i>
                    <div class="ListBarText">
                        <span class="bar-text"> Khách hàng</span>
                    </div>
                    <svg class="MuiSvgIcon-root icon-collapse" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                </button>
                <div class="dropdown-content">
                    <button class="dropdownText1" onclick="window.location.href='{{ infor_url }}'">Thông tin khách hàng</button>
                    <button class="dropdownText2" onclick="window.location.href='{{ create_url }}'">Thêm khách hàng</button>
                </div>
            </div>

            <div class="dropdown">
                <button class="btnTask" id="show-task">
                    <i class="fas fa-tasks bar-icon"></i>
                    <div class="ListBarText">
                        <span class="bar-text"> Task</span>
                    </div>
                    <svg class="MuiSvgIcon-root icon-collapse" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                </button>
                <div class="dropdown-content">
                    <button class="dropdownText3" onclick="window.location.href='{{ task_url }}'">Quản lý Task</button>
                    <button class="dropdownText4" onclick="window.location.href='{{ create_task_url }}'">Thêm Task mới</button>
                </div>
            </div>

            <div class="dropdown">
                <button class="btnSpa" id="show-spa">
                    <i class="fas fa-spa bar-icon"></i>
                    <div class="ListBarText">
                        <span class="bar-text"> Spa</span>
                    </div>
                    <svg class="MuiSvgIcon-root icon-collapse" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                </button>
                <div class="dropdown-content">
                    <button class="dropdownText5" onclick="window.location.href='{{ spa_url }}'">Danh sách thẻ Spa</button>
                    <button class="dropdownText6" onclick="window.location.href='{{ booking_url }}'">Đặt lịch Spa</button>
                </div>
            </div>

            <div class="dropdown">
                <button class="btnReport" id="show-report">
                    <i class="fas fa-file-alt bar-icon"></i>
                    <div class="ListBarText">
                        <span class="bar-text"> Báo cáo</span>
                    </div>
                    <svg class="MuiSvgIcon-root icon-collapse" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                </button>
                <div class="dropdown-content">
                    <button class="dropdownText7" onclick="window.location.href='{{ report_url }}'">Báo cáo chung</button>
                    <button class="dropdownText8" onclick="window.location.href=''">Báo cáo nhân viên</button>
                </div>
            </div>
        </nav>
    </div>

    <div class="screen">
        <div class="top-bar">
            <header>
                <nav class="navigation">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a class="username" href="#"><div class="user-avatar"><i class="user-image fas fa-user"></i></div> {{ current_user.full_name }}</a>
                    <button class="btnRegister" onclick="window.location.href ='/register-box'"><i class="fa fa-plus"></i>Đăng kí</button>
                    <button class="btnLogin" onclick="confirmLogout() "><i class="fas fa-sign-out-alt"></i>Đăng xuất</button>
                </nav>
            </header>
        </div>
        <div class="main-content">
            <script>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            alert("{{ message }}");
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                document.getElementById('btnExpand').addEventListener('click', function() {
                    const sidebar = document.getElementById('side-bar');
                    sidebar.classList.toggle('collapsed');
                });
            </script>
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="/static/js/customer.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/Base.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>